@import url('https://fonts.googleapis.com/css2?family=Combo&family=Dancing+Script:wght@500&family=El+Messiri&family=Roboto+Slab&display=swap');
/* font-family: 'Roboto Slab', serif; */
/* font-family: 'Combo', cursive; */
/* font-family: 'Dancing Script', cursive; */
/* font-family: 'El Messiri', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

.weatherbackground {
    background: white;
    height: 40vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.heading {
    color: black;
    font-size: 4rem;
    font-family: 'El Messiri', sans-serif;
}

.buttons button {
    border-radius: 36px;
}

.weatherResultBox {
    margin: auto;
    width: 40vw;
    height: 400px;
    border: 2px solid grey;
}

.weatherResultBox img {
    margin-top: 2rem;
    height: 100px;
    width: 100px;
    border-radius: 22px;
}

.weatherCity {
    font-size: 40px;
}

.weatherTemp {
    font-size: 60px;
    font-weight: 800;
}

.item {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

@media (max-width: 800px) {

    /* Need To Edit */
    .buttons {
        width: 60vw;
    }

    .weatherResultBox {
        margin: auto;
        width: 80vw;
        height: 300px;
        border: 2px solid grey;
    }

    .item {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
    }
}
